{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="bgded" style="background-image:url('{% static 'images/demo/backgrounds/bg.jpg' %}');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
        <h1><a href="">Айдана Кабулова</a></h1>
        <!-- ################################################################################################ -->
      </div>
       
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="overlay">
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <article>
        <h3 class="heading">Слуашай сюда :)</h3>
        <p>Я не старюсь привлечь Ваше внимание, но позвольте сказать: Вы удивительная юная особа, которая может преподать остальным всем женщинам пример.</a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>


<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="" href="#"><img src="{% static 'images/first/1.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Ангел на земле     <i class="fas fa-chevron-up"></i></h6>
              <div>
                <p>И кто же сказал, что Ангелы есть только на небе?! Это не правда, ведь я вижу Ангела на земле!</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/first/2.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Усремление    <i class="fas fa-chevron-up"></i></h6>
              <div>
                <p>Стремитесь не к успеху, а к ценностям, которые он дает</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="" href="#"><img src="{% static 'images/first/3.jpg' %}" alt=""></a>
            <figcaption>
              <h6 class="heading">Наука - Мудрость    <i class="fas fa-chevron-up"></i></h6>
              <div>
                <p>Наука — это организованные знания, мудрость — это организованная жизнь.</p>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="{% static 'images/first/4.jpg' %}" alt=""></div>
      <div class="one_half">
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Автор: Джим Рон</a></h6>
              <p class="nospace">Либо вы управляете вашим днем, либо день управляет вами.;</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Автор: Чарльз Буковски</a></h6>
              <p class="nospace">Если у тебя получилось обмануть человека, это не значит, что он дурак, это значит, что тебе доверяли больше, чем ты этого заслуживаешь.</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">Автор: Уилл Смит</a></h6>
              <p class="nospace">Когда ты одинок - это не значит, что ты слабый. Это значит, ты достаточно сильный, чтобы ждать то, что ты заслуживаешь.</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">Автор: Жизнь</a></h6>
              <p class="nospace">Если тебе что-то не нравится — меняй это. Если менять не хочется — значит тебя все устраивает.</p>
            </article>
          </li>
        </ul>
      </div>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clx`ear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('{% static 'images/demo/backgrounds/01.png' %}');">
  
  <!-- ################################################################################################ -->
  </section>
</div>

<div class="wrapper bgded overlay" style="background-image:url('{% static 'images/demo/backgrounds/bg_f.jpg' %}');">
  <section id="testimonials" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Не тот велик, кто никогда не падал</p>
      <p class="heading underline font-x2">а тот велик — кто падал и вставал</p>
    </div>
    <article class="btmspace-80">
      <blockquote>Думаю тебе понравился мой подарок. Наверно самое трудное было подбирать твои фотографий ведь все они одиноковые - красивые</blockquote>
      <figure class="clear"><img src="images/demo/60x60.png" alt="">
        <figcaption>
          <h6 class="heading">мелек</h6>
          <em></em></figcaption>
      </figure>
    </article>
    <!-- <footer class="center"><a class="btn" href="#">More Testimonials</a></footer> -->
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!--  -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <!-- <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p> -->
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
{% endblock %}